@media screen and (max-width: 1710px) {
  body #main-container {
    grid-template-columns: 0.3fr 1fr;
  }
  body #main-container #left-aside .sub-weather {
    width: 300px;
    margin-left: 20px;
    background-size: 210%;
  }
  body #main-container #main-section .upload-picture-container .title {
    margin-left: -50px;
  }
  body #main-container #main-section .upload-picture-container .upload-area .img-upload-btn {
    width: 110px;
  }
  body #main-container #main-section .upload-picture-container .upload-area #fileName-preview {
    width: 200px;
    font-size: 10px;
  }
  body #main-container #main-section .upload-picture-container .picture-container {
    width: 480px;
  }
  body #main-container #main-section .upload-picture-container .picture-container .img-preview {
    width: 480px;
  }
  body #main-container #main-section .upload-picture-container .picture-container .img-preview .upload-container {
    width: 200px;
  }
  body #main-container #main-section .upload-picture-container .picture-container .img-preview .upload-container .log {
    width: 180px;
  }
  body #main-container #main-section .upload-picture-container .picture-container .img-preview .upload-container img {
    width: 180px;
    height: 230px;
  }
}
@media screen and (max-width: 1460px) {
  body {
    height: 1750px;
  }
  body header {
    grid-template-columns: 1.5fr 2fr 3fr;
    z-index: 1000;
  }
  body #main-container {
    grid-template-columns: 1fr;
  }
  body #main-container #left-aside {
    height: 450px;
    display: grid;
    justify-items: center;
  }
  body #main-container #left-aside .sub-weather {
    position: absolute;
    width: 650px;
    height: 320px;
    background-size: 130%;
  }
  body #main-container #left-aside .sub-weather #sub-weather-lists .weather-item .weather-main .wi {
    font-size: 120px;
  }
  body #main-container #left-aside .sub-weather #sub-weather-lists .weather-item .temp {
    font-size: 60px;
  }
  body #main-container #left-aside .sub-weather #sub-weather-lists .weather-item .time {
    font-size: 32px;
  }
  body #main-container #left-aside .sub-weather #sub-weather-lists .weather-item .weather-data {
    font-size: 24px;
  }
  body #main-container #main-section {
    grid-column: 1/-1;
  }
  body #main-container #main-section .upload-picture-container .title {
    margin-left: -30px;
  }
  body #main-container #main-section .upload-picture-container .upload-area .img-upload-btn {
    width: 100px;
  }
  body #main-container #main-section .upload-picture-container .upload-area #fileName-preview {
    width: 200px;
    font-size: 10px;
  }
  body #main-container #main-section .upload-picture-container .upload-area .delete-all {
    width: 80px;
  }
  body #main-container #main-section .upload-picture-container .picture-container {
    width: 450px;
  }
  body #main-container #main-section .upload-picture-container .picture-container .img-preview {
    width: 450px;
  }
  body #main-container #main-section .upload-picture-container .picture-container .img-preview .upload-container {
    width: 220px;
  }
  body #main-container #main-section .upload-picture-container .picture-container .img-preview .upload-container .log {
    width: 160px;
  }
  body #main-container #main-section .upload-picture-container .picture-container .img-preview .upload-container img {
    width: 160px;
    height: 230px;
  }
  body #main-container #main-section .upload-picture-container .picture-container .img-preview .upload-container span {
    margin-left: 160px;
  }
  body #main-container #main-section .color-arrangement-container .title {
    margin-left: -340px;
  }
  body #main-container #main-section .color-arrangement-container .explain {
    margin-left: -200px;
  }
  body #main-container #main-section .color-arrangement-container .color-match-area {
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(2, 295px);
  }
  body footer {
    display: grid;
    grid-template-columns: 0.6fr 1.2fr;
    grid-template-rows: 150px 150px;
    justify-items: center;
  }
  body footer .copyright-list {
    grid-row: 2/-1;
    grid-column: 1/-1;
    grid-template-columns: 400px 200px 200px;
  }
  body footer .contact-me li {
    font-size: 48px;
  }
}
@media screen and (max-width: 1024px) {
  body {
    height: 2550px;
  }
  body #main-container #main-section {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 780px);
  }
  body #main-container #main-section .upload-picture-container {
    margin-top: 0;
    display: grid;
    grid-column: 1/-1;
    grid-row: 1/2;
  }
  body #main-container #main-section .upload-picture-container .title {
    margin-left: 10px;
  }
  body #main-container #main-section .upload-picture-container .upload-area .img-upload-btn {
    width: 130px;
  }
  body #main-container #main-section .upload-picture-container .upload-area #fileName-preview {
    width: 250px;
    font-size: 10px;
  }
  body #main-container #main-section .upload-picture-container .upload-area .delete-all {
    width: 110px;
  }
  body #main-container #main-section .upload-picture-container .picture-container {
    width: 550px;
  }
  body #main-container #main-section .upload-picture-container .picture-container .img-preview {
    width: 550px;
  }
  body #main-container #main-section .upload-picture-container .picture-container .img-preview .upload-container {
    width: 250px;
  }
  body #main-container #main-section .upload-picture-container .picture-container .img-preview .upload-container .log {
    width: 210px;
    font-size: 18px;
  }
  body #main-container #main-section .upload-picture-container .picture-container .img-preview .upload-container img {
    width: 220px;
    height: 230px;
  }
  body #main-container #main-section .upload-picture-container .picture-container .img-preview .upload-container span {
    margin-left: 210px;
  }
  body #main-container #main-section .color-arrangement-container {
    margin-top: 0;
    display: grid;
    grid-column: 1/-1;
    grid-row: 2/-1;
  }
  body #main-container #main-section .color-arrangement-container .title {
    margin-left: 0px;
  }
  body #main-container #main-section .color-arrangement-container .explain {
    margin-left: 0;
  }
  body #main-container #main-section .color-arrangement-container .color-match-area {
    grid-template-columns: repeat(2, 350px);
    grid-template-rows: repeat(2, 345px);
  }
  body footer .copyright-list {
    grid-template-columns: 300px 200px 200px;
  }
  body footer .copyright-list .ann_maulina img {
    width: 80px;
  }
}
@media screen and (max-width: 768px) {
  body header {
    grid-template-columns: 1fr 1fr;
  }
  body header .logo {
    min-width: 150px;
    font-size: 1.5rem;
  }
  body header nav ul {
    font-size: 14px;
  }
  body header nav ul li:last-child {
    grid-column: 3/-1;
  }
  body #main-container #left-aside .sub-weather {
    width: 450px;
    background-size: 180%;
    margin-left: -20px;
  }
  body #main-container #left-aside .sub-weather #sub-weather-lists .weather-item .weather-main .wi {
    font-size: 120px;
  }
  body #main-container #left-aside .sub-weather #sub-weather-lists .weather-item .temp {
    font-size: 60px;
  }
  body #main-container #left-aside .sub-weather #sub-weather-lists .weather-item .time {
    font-size: 32px;
  }
  body #main-container #left-aside .sub-weather #sub-weather-lists .weather-item .weather-data {
    font-size: 24px;
  }
  body #main-container #main-section {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 780px);
  }
  body #main-container #main-section .upload-picture-container {
    margin-top: 0;
    display: grid;
    grid-column: 1/-1;
    grid-row: 1/2;
  }
  body #main-container #main-section .upload-picture-container .title {
    margin-left: 0px;
  }
  body #main-container #main-section .upload-picture-container .upload-area .img-upload-btn {
    width: 110px;
  }
  body #main-container #main-section .upload-picture-container .upload-area #fileName-preview {
    width: 200px;
    font-size: 10px;
  }
  body #main-container #main-section .upload-picture-container .picture-container {
    width: 480px;
  }
  body #main-container #main-section .upload-picture-container .picture-container .img-preview {
    width: 480px;
  }
  body #main-container #main-section .upload-picture-container .picture-container .img-preview .upload-container {
    width: 200px;
  }
  body #main-container #main-section .upload-picture-container .picture-container .img-preview .upload-container .log {
    width: 180px;
  }
  body #main-container #main-section .upload-picture-container .picture-container .img-preview .upload-container img {
    width: 180px;
    height: 230px;
  }
  body #main-container #main-section .upload-picture-container .picture-container .img-preview .upload-container span {
    margin-left: 170px;
  }
  body #main-container #main-section .color-arrangement-container {
    margin-top: 0;
    display: grid;
    grid-column: 1/-1;
    grid-row: 2/-1;
  }
  body #main-container #main-section .color-arrangement-container .title {
    margin-left: 0px;
  }
  body #main-container #main-section .color-arrangement-container .explain {
    margin-left: 0;
  }
  body #main-container #main-section .color-arrangement-container .color-match-area {
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(2, 295px);
  }
  body #main-container #main-section .color-arrangement-container .color-match-area .clothes-box {
    font-size: 60px;
  }
  body footer {
    margin-top: 20px;
    grid-template-rows: 150px 250px;
  }
  body footer .copyright-list {
    grid-row: 2/-1;
    grid-column: 1/-1;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 2fr 1fr;
  }
  body footer .copyright-list .copyright {
    font-size: 30px;
  }
  body footer .copyright-list .ann_maulina {
    grid-row: 2/3;
    grid-column: 1/-1;
  }
  body footer .copyright-list .ann_maulina a {
    font-size: 20px;
  }
  body footer .copyright-list .ann_maulina img {
    width: 150px;
  }
  body footer .copyright-list .weather-icon {
    grid-row: 3/4;
  }
  body footer .copyright-list .clothes-icon {
    grid-row: 3/4;
  }
  body footer .contact-me li {
    font-size: 36px;
  }
}
@media screen and (max-width: 576px) {
  body {
    height: 3450px;
  }
  body #main-container #left-aside .sub-weather {
    width: 350px;
    height: 260px;
    background-size: 225%;
  }
  body #main-container #left-aside .sub-weather #sub-weather-lists .weather-item .weather-main .wi {
    font-size: 100px;
  }
  body #main-container #left-aside .sub-weather #sub-weather-lists .weather-item .temp {
    font-size: 60px;
  }
  body #main-container #left-aside .sub-weather #sub-weather-lists .weather-item .time {
    font-size: 24px;
  }
  body #main-container #left-aside .sub-weather #sub-weather-lists .weather-item .weather-data {
    font-size: 18px;
  }
  body #main-container #main-section {
    margin-top: -200px;
    grid-template-columns: 1fr;
  }
  body #main-container #main-section .upload-picture-container .title {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
  }
  body #main-container #main-section .upload-picture-container .title .explain {
    margin-top: 20px;
    margin-left: -15px;
  }
  body #main-container #main-section .upload-picture-container .upload-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 40px);
  }
  body #main-container #main-section .upload-picture-container .upload-area .img-upload-btn {
    width: 140px;
    grid-row: 2/3;
  }
  body #main-container #main-section .upload-picture-container .upload-area #fileName-preview {
    grid-column: 1/-1;
    width: 350px;
    font-size: 14px;
  }
  body #main-container #main-section .upload-picture-container .upload-area .delete-all {
    grid-row: 2/3;
    width: 150px;
  }
  body #main-container #main-section .upload-picture-container .picture-container {
    width: 360px;
  }
  body #main-container #main-section .upload-picture-container .picture-container .img-preview {
    width: 360px;
  }
  body #main-container #main-section .upload-picture-container .picture-container .img-preview .upload-container {
    width: 150px;
  }
  body #main-container #main-section .upload-picture-container .picture-container .img-preview .upload-container .log {
    width: 140px;
    font-size: 12px;
  }
  body #main-container #main-section .upload-picture-container .picture-container .img-preview .upload-container img {
    width: 140px;
    height: 180px;
  }
  body #main-container #main-section .upload-picture-container .picture-container .img-preview .upload-container span {
    margin-left: 150px;
  }
  body #main-container #main-section .color-arrangement-container {
    margin-top: 50px;
    display: grid;
    grid-column: 1/-1;
    grid-row: 2/-1;
  }
  body #main-container #main-section .color-arrangement-container .title {
    margin-left: 0px;
  }
  body #main-container #main-section .color-arrangement-container .explain {
    margin-left: 0;
  }
  body #main-container #main-section .color-arrangement-container .color-match-area {
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: repeat(4, 295px);
    gap: 30px;
  }
  body #main-container #main-section .color-arrangement-container .color-match-area .clothes-box {
    font-size: 80px;
  }
  body footer {
    margin-top: 500px;
    grid-template-rows: 150px 150px 250px;
  }
  body footer .active-api-list {
    grid-column: 1/-1;
    margin-top: -20px;
    margin-left: -50px;
  }
  body footer .active-api-list .active-api {
    font-size: 30px;
  }
  body footer .active-api-list li a {
    font-size: 20px;
  }
  body footer .active-api-list li .use-api {
    font-size: 20px;
  }
  body footer .copyright-list {
    grid-column: 1/-1;
    grid-row: 3/4;
    justify-items: center;
  }
  body footer .copyright-list .copyright {
    font-size: 30px;
  }
  body footer .copyright-list .ann_maulina {
    margin-left: 20px;
  }
  body footer .copyright-list .ann_maulina a {
    font-size: 20px;
  }
  body footer .copyright-list .ann_maulina img {
    width: 100px;
  }
  body footer .contact-me {
    grid-column: 1/-1;
    margin-left: 0px;
  }
  body footer .contact-me .title {
    font-size: 30px;
  }
  body footer .contact-me li {
    font-size: 40px;
  }
}

/*# sourceMappingURL=myClothesResponsive.css.map */
